	.table-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background: #ffffff ;
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
background-color:#ffffff;	
}

tr:hover {
          background-color: #ececec ;
        }

td,th  {
	  border-bottom: 1px solid #eff0f5;
  text-align: left;
  padding: 8px;
}
th {
  text-align: center;
}
td {
  text-align: left;
}

        @media screen and (max-width: 1225px) and (min-width: 1045px) {
		.priority-6{
			display:none;
		}
	}
	
	@media screen and (max-width: 1045px) and (min-width: 835px) {
		.priority-6{
			display:none;
		}
		.priority-5{
			display:none;
		}
	}
	
	@media screen and (max-width: 565px) and (min-width: 300px) {
		.priority-6{
			display:none;
		}
		.priority-5{
			display:none;
		}
		.priority-4{
			display:none;
		}
	}
    
    h1 {
    text-align: center;
    }
a {
  text-decoration: none;
}
